#grid {
    width:400px;
    height:400px;
    display:flex;
    flex-flow:wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 1px;
    position: absolute;
    top: 45%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

body{
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color:#C79F94;
}

h3{
    position: absolute;
    right: 13em;
    top: 22.5em;
}
